@font-face {
    font-family: 'gilroy-bold';
    src: url('./font/gilroy-bold.ttf');
}

@font-face {
    font-family: 'gilroy-medium';
    src: url('./font/gilroy-medium.ttf');
}

@font-face {
    font-family: 'gilroy-semibold';
    src: url('./font/gilroy-semibold.ttf');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    background: #FFFFFF;

}

img {
    display: block;
    max-width: 100%;
}

h1 {
    color: #000;
    font-family: 'gilroy-bold';
    src: url('./font/gilroy-bold.ttf');
}

p {
    color: #888;
    font-family: 'gilroy-medium';
    src: url('./font/gilroy-medium.ttf');
}

button, a {
    font-family: 'gilroy-semibold';
    src: url('./font/gilroy-semibold.ttf');
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    padding: 40px 0;
    margin-bottom: 84px;
}

.logosHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    width: 533px;
    display: flex;
    justify-content: space-between;
}

.navigation__menu {
    color: #F25822;
}

.main {
    margin-bottom: 162px;
}

.mainContent {
    display: flex;

    justify-content: space-between;

}

.mainContent__leftSide h1 {
    font-size: 60px;
    line-height: 70px;
    max-width: 522px;
    margin-bottom: 17px;
}

.mainContent__leftSide p {
    max-width: 466px;
    height: 48px;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 37px;
}

.mainContent__leftSide-btnList {
    margin-bottom: 80px;
    display: flex;
    gap: 72px;
}

.mainContent__leftSide-btnList1 {
    padding: 15px 35px;
    background: #F25822;
    border-radius: 50px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.mainContent__leftSide-btnList2 {
    background: none;
    color: #888;
    border: none;
    cursor: pointer;
}

.footer {
    margin-bottom: 96px;
}

.logos {
    display: flex;
    justify-content: space-between;
}